<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Dev 测试 Pro 正式-->
    <add key="Environment" value="Dev"/>

    <add key="MongoUrl.Dev" value="mongodb://admin:admin@:8012/ddddb"/>
    <add key="MongoUrl.Pro" value="mongodb://admin:admin@:8012/ddddb"/>

    <add key="MongoDb.Dev" value="ddddb"/>
    <add key="MongoDb.Pro" value="ddddb"/>

    <add key="RedisHost.Dev" value=""/>
    <add key="RedisHost.Pro" value=""/>

    <add key="RedisPort.Dev" value="8013"/>
    <add key="RedisPort.Pro" value="6379"/>

    <add key="RedisPassword.Dev" value="123456"/>
    <add key="RedisPassword.Pro" value="123456"/>

    <add key="JwtSecret.Dev" value="HlnlANFonvmoqkuhgknzggFFFaa"/>
    <add key="JwtSecret.Pro" value="OPLKHUBKAGfasdfzxuBGFasdfva"/>
    
    <add key="UEditorPicUrl.Dev" value="http://localhost:59774/Handlers/"/>
    <add key="UEditorPicUrl.Pro" value="http://localhost:59774/Handlers/"/>
  
    <add key="PicUrl.Dev" value="http://localhost:59774/"/>
    <add key="PicUrl.Pro" value="http://localhost:59774/"/>
  </appSettings>
</configuration>